/* FONTS
   ===== */
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, "Courier New", monospace

/* COLORS
   ====== */
$color-white:      #fff
$color-black:      #000
$color-gray-light: #f1f5f8
$color-gray:       #8795a1
$color-gray-dark:  #3d4852
$color-ghost:      #f8fafc
$color-blue-light: #5066d4
$color-blue:       #28398f
$color-brand:      $color-blue

/* BREAKPOINTS
   =========== */
$bp-sm: 576px
$bp-md: 768px
$bp-lg: 992px
$bp-xl: 1200px

